.carousel-img {
  max-height: 100vh;
}

.carousel-caption {
  background-color: #00000060;
}

.vh-50 {
  height: 50vh;
}

.active {
  color: #ffe31a !important;
}

.title-container {
  position: relative;
  padding-bottom: 20px;
}

.primary {
  color: #ffe31a;
}

.title-container h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background-color: #ffe31a;
  bottom: 0;
  left: calc(50% - 25px);
}

.about-us-title {
  font-size: 40px;
}

.about-us-subtitle {
  font-size: 20px;
}

.card-icon {
  transition: 0.3s;
}

.card-icon:hover {
  color: #ffe31a;
}

.mansory-sizer,
.mansory-item {
  width: 30%;
}

.brand-image {
  width: 70%;
  object-fit: cover;
  filter: grayscale(1);
  transition: 0.5s;
}

.brand-image:hover {
  filter: grayscale(0);
  transform: scale(1.2);
}

.btn-subscribe,
.btn-to-top {
  background: #ffe31a;
}
.bg-darker {
  background: #111;
}
a {
  text-decoration: none;
  color: white;
}
.btn-to-top {
  display: inline;
  position: fixed;
  right: 15px;
  bottom: 15px;
}

.portfolio-filter li {
  transition: 0.5s;
  cursor: pointer;
}

.portfolio-filter .filter-active,
.breadcumbs {
  background: #ffe31a;
}

.breadcumbs {
  margin-top: 70px;
}

.breadcumbs ol li + li::before {
  display: inline-block;
  color: white;
  padding-right: 10px;
  padding-left: 10px;
  content: "/";
}

.card-img-top {
  height: 400px;
  object-fit: cover;
}

.img-testimonial {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.testimonial-item .card-body h4 {
  font-size: 18px;
}

.btn-submit {
  background: #ffe31a;
  color: white;
}

@media (max-width: 768px) {
  .mansory-sizer,
  .mansory-item {
    width: 40%;
  }
}
@media (max-width: 576px) {
  .mansory-sizer,
  .mansory-item {
    width: 100%;
  }
}
